


<!DOCTYPE html>
<head>
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <!-- Font Awesome -->
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
            rel="stylesheet"
    />
    <title>Вход</title>

</head>
<body>
<div class="container" style="height: 100%;width: 100%">
    <div id="registration-form">
        <h2>Вход</h2>
        <div class="error" th:if="${param.error}">
            Invalid username and password.
        </div>
        <form th:action="@{/login}" method="post" id="register-form">
            <div class="form-field">
                <div class="form-outline" data-mdb-input-init>
                    <input type="text" id="username" class="form-control" name="username"/>
                    <label class="form-label" for="username">UserName </label>
                </div>
            </div>

            <div class="form-field">
                <div class="form-outline" data-mdb-input-init>
                    <input type="password" id="password" class="form-control" name="password"/>
                    <label class="form-label" for="password">Password </label>

                </div>
            </div>
            <a href="/register">
                Зарегистрироваться
            </a>
            <button form="register-form" type="submit">
                Вход
            </button>
        </form>

    </div>
</div>
<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
</body>
<!-- MDB -->

</html>

