<!DOCTYPE html>
<head>
    <link rel="stylesheet" th:href="@{/css/register.css}">
    <!-- Font Awesome -->
    <!-- Font Awesome -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
            rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
    />
    <!-- MDB -->
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.min.css"
            rel="stylesheet"
    />
    <title>Регистрация</title>

</head>
<body>
<div class="container" style="height: 100%;width: 100%">
    <div id="registration-form">
        <h2>Регистрация</h2>
        <form enctype="multipart/form-data" id="register-form" method="post"
              th:action="${isAdminRegistration} ? '/admin/register' : '/register'"
              th:object="${user}">
            <div class="form-field">
                <div class="form-outline" data-mdb-input-init>
                    <input type="text" id="name" class="form-control" th:field="*{name}"/>
                    <label class="form-label" for="name">User Name <span class="asteriskField">*</span></label>

                </div>
                <p class="error" th:if="${isUnique != null}">Пользователь с таким именем уже существует</p>
                <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
            </div>


            <div class="form-field">
                <div class="form-outline" data-mdb-input-init>
                    <input type="password" id="password" class="form-control" th:field="*{password}"/>
                    <label class="form-label" for="password">Password <span class="asteriskField">*</span></label>

                </div>
                <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></p>
            </div>

            <div class="form-field" th:if="${isAdminRegistration}">
                <div class="form-outline" data-mdb-input-init>
                    <input type="text" id="secretKey" class="form-control" name="secretKey"/>
                    <label class="form-label" for="secretKey">Secret Admin Key</label>
                </div>
                <p class="error" th:if="${error_secretKey != null}">неверный секретный ключ </p>
            </div>
            <a href="/login" style="margin-bottom: 5px">
                Войти
            </a>
            <button form="register-form" type="submit">
                Регистрация
            </button>
        </form>

    </div>
</div>
<!-- MDB -->
<script
        type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.1.0/mdb.umd.min.js"
></script>
</body>
<!-- MDB -->

</html>

